@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto+Mono:wght@200&display=swap");

html,
body {
  width: 90%;
  font-family: "Open Sans", sans-serif;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
}

h1.Nombre {
  font-size: calc(2rem + 1.5vw);
  margin: 0%;
  margin-top: 3%;
}

h2.Subtitulo {
  margin: 3%;
  font-size: calc(1.375rem + 1.5vw) !important;
  color: white !important;
  font-family: "Roboto Mono", monospace !important;
}

h2 {
  font-size: calc(1.325rem + 0.9vw);
  color: #d5ad33 !important;
}
h3 {
  font-size: 22px;
  color: #444 !important;
  font-family: "Roboto Mono", monospace !important;
}
span.Empresa {
  color: #6c757d !important;
}
p,
li {
  text-align: justify;
  font-size: 18px;
  color: #555 !important;
}
a,
i {
  text-decoration: none;
  color: #ffc107 !important;
  font-size: 1.2rem;
}

header.container {
  color: white;
  margin-top: 3%;
  display: flex;
  background: #343a40 !important;
  justify-content: center;
  align-items: center;
  width: 90vw;
  flex-direction: column;
  border-radius: 20px;
}

div#personalData {
  display: grid;
  width: 90vw;
  grid-template-columns: 1fr 0.5fr 0.65fr 0.65fr;
  font-family: "Roboto Mono", monospace !important;
  justify-items: center;
}
#personalData .item:nth-child(1) {
  grid-column: 1 / 2;
}
#personalData .item:nth-child(2) {
  grid-column: 2 / 3;
}
#personalData .item:nth-child(3) {
  grid-column: 3 / 4;
}
#personalData .item:nth-child(4) {
  grid-column: 4 / 5;
}

@media (max-width: 1100px){
  header.container {
    width: 95vw;
  }
  div#personalData {
    display: flex;
    width: 80vw;
    align-items: baseline;
    flex-direction: column;
  }
}

div#contenido {
  display: grid;
  width: 100%;
  grid-template-columns: 2.25fr 0.75fr;
  margin-top: 3%;
}

section#Experiencia,
section#Personal {
  width: 90%;
  margin-left: 2%;
}

section#Personal a {
  text-decoration: underline;
}
